body {
  background-color: #bfd8d5;
}
.container {
  max-width: 1000px;
}
.app-header {
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
}
footer {
  font-size: 12px;
  text-align: center;
}
